.history .derivative-info-table-wrp .derivative-info-table .derivative-info-body {
    height: 280px;
    overflow-y: auto;
    width: calc(100% + 17px);
    display: block;
}

.txt-red {
    color: red;
}

.txtr {
    text-align: right !important
}

.derivative-info-row {
    color: #fff;
}