#portfolio {
    color: #fff;
    overflow: auto;
    flex: 1 1;
    background: #2f3240;
    margin: 1px;
}

#portfolio .title {
    background: #2f3240;
    line-height: 40px;
    border-bottom: 1px solid #444;
    position: relative;
}

#portfolio .title ul {
    list-style: none;
    padding: 0;
    margin: 0 60px 0 0;
}

#portfolio .title ul li {
    line-height: 30px;
    width: 50%;
    display: inline-block;
    text-align: center;
}

#portfolio .title ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    display: inline-block;
}

#portfolio .title ul li a.active {
    color: #f7941d;
    font-weight: 700;
}


#portfolio .command-list .command-list-title {
    display: flex;
    background: hsla(0,0%,47.1%,.15);
    line-height: 22px;
    font-size: 1.3rem;
    padding: 5px 0;
    font-weight: bold;
}

#portfolio .no-order {
    display: flex;
    justify-content: center;
    line-height: 50px;
    font-size: 1.5rem;
    margin: 0 auto;
    color: #777;
}